@font-face {
  font-family: 'san_diegoregular';
  src: url('../fonts/san_diego.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat_variable_font_wght.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */


:root {
  --f-primary: 'san_diegoregular', 'serif';
  --f-secondary: 'Montserrat', 'sans-serif';

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #FFFEFA;
  --clr-dark: #2B2B2B;
  --clr-gold: #d6c65e;
  --clr-red: #AA0201;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}

/* General Styles */

/* html, body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  line-height: 1.6;
} */

section {
  padding: 2em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
  outline: 3px solid var(--clr-gold);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: .5em 2.0em;
  background: var(--clr-gold);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

h1 {
  font-family: var(--f-primary);
}

h2, h3, h4, h5, h6, p, a, img {
  font-family: var(--f-secondary);
}

.section__title {
  margin-top: .5em;
  margin-bottom: .5em;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--visao,
.section__subtitle--planos,
.section__subtitle--aguias,
.section__subtitle--quem-somos,
.section__subtitle--contato {
  background: var(--clr-red);
  font-family: var(--f-secondary);
  font-weight: var(--fw-reg);
  color: var(--clr-gold);
  margin-bottom: 1em;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 2em 0 2em;
}

.contatos {
  display: flex;
  justify-content: end;
  align-items: center;;
  padding: 0 2em 0 2em;
}

/* Logo */

.logo {
  height: 10em;
  width: 10em;
}

/* Intro */

nav { display: none; }

/* Intro Section */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
  text-align: center;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 400px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em)
  }
}

/* Visão de Águia */

.visao {

}

/* Planos */

.planos {
  background: no-repeat;
  background-color: var(--clr-light);
  background-image: url(../img/hand_writing.jpg);
  background-size: cover;
  background-position: center;
  background-color: var(--clr-dark);
  background-blend-mode: multiply;
  color: var(--clr-dark);
  text-align: center;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
}

.section__title--planos {
  color: var(--clr-light);
  position: relative;
}

.section__title--planos::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;;
  opacity: 0.5;
}

.section__subtitle--planos {
  color: var(--clr-gold);
  text-align: center;;
}

@media (min-width: 800px) {
  .planos {
    /* display: flex; */
    max-width: 1000px;
    margin: 0 auto;
  }

  /* .plano + .plano {
    margin-left: 2em;
  } */
}

.plano {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.section__subtitle--plano {
  color: var(--clr-light);
  text-align: center;
  text-justify: inter-word;
  margin-bottom: 1em;
}

/* Quem Somos */

.quem-somos{
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .quem-somos {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--quem-somos {
    grid-area: title;
  }

  .section__paragraph--quem-somos {
    text-align: justify;
    text-justify: inter-word;
  }

  .quem-somos__img {
    grid-area: img;
  }
}
