/* @font-face {
  font-family: 'san_diegoregular';
  src: url('fonts/san_diego.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat_italic_variable_font_wght.ttf') format('truetype'),
       url('fonts/montserrat_variable_font_wght.ttf') format('truetype');
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */


:root {
  --f-primary: 'Montserrat', 'sans-serif';
  --f-secondary: 'Montserrat', 'monospace';

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #FFFEFA;
  --clr-dark: #2B2B2B;
  --clr-gold: #e8d668;
  --clr-red: #AA0201;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

/* @import "fonts/san_diego";
@import "fonts/montserrat_italic_variable_font_wght";
@import "fonts/montserrat_variable_font_wght"; */

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}

/* General Styles */

body {
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--f-primary);
  font-size: var(--f-secondary);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {

}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--quem-somos {
  background-color: var(--clr-dark);
  font-family: var(--ff-secondary);
}
